
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/LayoutView.cshtml";
}

<h2>Create</h2>
@using(@Html.BeginForm("Create", "Producto", FormMethod.Post, new { enctype= "multipart/form-data" }))
{
<div class="form">
    <div class="form-control">
        <label class="form-label"> Producto:</label>
        <div class="form-control">
            <input type="text" name="producto" value="" />
        </div>
    </div>
    <div class="form-control">
        <label class="form-text"> Producto:</label>
        <div class="form-control">
            <textarea name="descripcion"></textarea>
        </div>
    </div>
    <div class="form-control">
        <label class="form-label"> Producto:</label>
        <div class="form-control">
            <input type="number" name="precio" value="" />
        </div>
    </div>
    <div class="form-control">
        <label class="form-label"> Producto:</label>
        <div class="form-control">
            <input type="number" name="stock" value="" />
        </div>
    </div>
    <div class="form-control">
        <label class="form-label"> Producto:</label>
        <div class="form-control">
            <input type="file" name="imagen" value="" />
        </div>
    </div>
    <div class="form-control">
        <label class="form-label"> Producto:</label>
        <div class="form-select">
            <select name="codigo_categoria">
                <option value="">Seleccionar una opcion</option>
                @foreach(var cat in ViewBag.Categorias) { 
                <option value="@cat.codigo_categoria">@cat.categoria</option>
                }
            </select>
        </div>
    </div>





    <div class="container">
        <button class="btn btn-success">submit</button>
    </div>


</div>







}
